* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #01295E;
}

img {
    width: 100%;
    
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}